.static-text {
    position: relative;
    padding: .5rem;
    transition: all 0.15s ease-out;
}

.static-text:hover {
    background-color: var(--purple-light);

}

button {
    position: absolute;
    right: .5rem;
    bottom: -2rem;
    border: none;
    background-color: var(--white);
    box-shadow: 0px 2px 4px var(--blue);
    padding: .2rem;
    border-radius: .5rem;
}