.introduction {
    grid-area: introduction;
    padding: 1rem 2rem 1rem 2rem;
}

.intruduction__text {
    width: 100%;
    height: 10rem;
}

.introduction textarea {
    width: 100%;
    height: 10rem;
}