.job {
    margin-bottom: 0rem;
}

.job .static-text {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto max-content 8rem;
    grid-template-areas:
        "position    company"
        "date        date"
        "description description";
    gap: .2rem;
}

.job .job-form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto max-content 8rem;
    grid-template-areas:
        "position    company"
        "date        date"
        "description description"
        "button button";
    gap: .2rem;
}

.position {
    grid-area: position;
    font-size: 1.3rem;
    font-weight: 700;
    text-align: right;
    margin-bottom: .2rem;
    letter-spacing: .1rem;
}

.company {
    grid-area: company;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: .1rem;
}

.company::before {
    content: "|";
}

.date {
    grid-area: date;
    text-align: right;
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: .25rem;
}

.description {
    grid-area: description;
    font-size: 1.1rem;
    font-weight: 400;

}

/* ------------ Form Styles ---------------- */
.job-form {
    position: relative;
}

.job-form input, .job-form>textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    padding: .2rem;
    height: 100%;
    border-radius: .25rem;
    border: 1px solid var(--purple);
}

.position-input {
    grid-area: position;
    text-align: right;
}

.company-input {
    grid-area: company;
}

.date-input {
    grid-area: date;
    text-align: right;

}

.description-input {
    grid-area: description;

}

.job-form .buttons {
    display: flex;
    gap: .5rem;
    grid-area: button;
    justify-self: flex-end;
}

.job-form button {}