.skills {
    grid-area: skills;
    border-left: .2rem solid var(--purple-light);
    padding: 1rem 2rem 1rem 2rem;

}

.icons {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: flex-start;
}

.icon {
    height: 3rem;
    color: var(--purple-dark);
    transition: all .15s ease-out;
}

.icon:hover {
    color: var(--purple);
    transform: scale(1.05);
}

/* .skills::before {
    content: "";
    position: absolute;
    width: .4rem;
    height: 100%;

    background-color: var(--blue);
} */