.cv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25% 18% 1fr;
    grid-template-areas:
        "profile profile"
        "introduction skills"
        "experience education";
    width: 67.0rem;
    min-height: 84.4rem;
    padding: 1rem;
    background-color: var(--white);
    color: var(--black);
}