.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: var(--font-primary);
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--white);
  background: var(--blue);
  background: linear-gradient(165deg, var(--blue) 0%, var(--purple-dark) 45%, var(--purple) 70%, var(--yellow) 100%);
}